<a href="https://colab.research.google.com/github/IsaacMrSmile/HomeWork/blob/main/AprendiendoPython1_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 1) Hola Mundo
 Mi primera linea de codigo con Python

In [4]:
print ("Hola Mundo")
print ("Estoy aprendiendo Python")

Hola Mundo
Estoy aprendiendo Python

## 2) Variables

Es un nombre para referirse a un 'dato' que existe en el programa, que ademas pueden guardar un tipo particular de dato.

* bool: Boleando solo tienes 2 valores, verdadero o falso, True o False
* str: String, cadena de caracteres, en un texto. "Hola que tal"
* int: Entero,representa numeros enteros. 0, 99, -10.
* float: Flotante representa numeros con punto decimal. 1.0, 0.0001, -10.1.

In [5]:
mi_nombre = "Isaac"
print(mi_nombre)

Isaac

In [7]:
# Ejemplos de Booleanos
es_mayor_edad =  False
es_mujer = True


# Ejemplos de cadenas

nombre = "Pedro"
saludo = "Bienvenidos a Dataclouder"

# Ejemplo de enteros

peso = 85
numero_hijos = 2

# Ejemplos de Flotantes 
estatura = 1.73
pi = 3.1416