<a href="https://colab.research.google.com/github/IsaacMrSmile/HomeWork/blob/main/Curso_Python_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Conceptos Basicos de  Python


1.   Variable
2.   Operadores
3.   DataType
4.   Functions

In [5]:
#  Variable


np_population = 1000
print(np_population)
print(type(np_population))

1000
<class 'int'>

In [9]:
x = 5 
y = 6
z = 7
z, y, z = 5, 6, 7
np_population, ch_population = 1000, 2000
print(np_population, ch_population)

1000 2000

In [10]:
# pythonic way: minusculas, _
full_name = 'Paul Miller'

In [15]:
# Operadores Aritmeticos

# +, -, *, /


x, y = 3, 4

print(x + y*5)
print ((x + y)*5)
print ( x -y)
print (x / y)

23
35
-1
0.75

In [20]:
# los valores aritmeticos tambien pueden ser usados con string

word = ' Hello'
print(word * 4)
print(word * 6)
print (word + str(6))

 Hello Hello Hello Hello
 Hello Hello Hello Hello Hello Hello
 Hello6